.oe_kanban_status_new {
    background-color: #dff0d8; /* Verde claro */
    padding: 10px;
    border-radius: 5px;
}

.oe_kanban_status_in_progress {
    background-color: #fcf8e3; /* Amarillo claro */
    padding: 10px;
    border-radius: 5px;
}

.oe_kanban_status_done {
    background-color: #d9edf7; /* Azul claro */
    padding: 10px;
    border-radius: 5px;
}
